<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.szcx.market"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:name=".MarketApplication"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar">

        <activity
            android:name=".activitys.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.MainActivitytext"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.DownloadList"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.ListViewItemActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />
    </application>

</manifest>
